{% extends 'master.twig' %}

{% block title %}{% trans "TitleConsent" %}{% endblock %}

{% block content %}
{%- set site_name = site.name -%}
{%- set client_logo_uri = client.logo_uri -%}
{%- set client_name = client.client_name -%}
{%- set client_policy_uri = client.policy_uri -%}
{%- set client_tos_uri = client.tos_uri -%}
<div class="brand">
    <img src="{{ site.theme_uri }}/img/logo.jpg" alt="logo">
</div>
<div class="card fat">
    <div class="card-body">
        <h4 class="card-title">{% trans %}{{ site_name }} Authorization OP{% endtrans %}</h4>
        <div class="media">
            {% if client.policy_uri is not empty %}
            <img src="{{ client_logo_uri }}" class="mr-3" alt="{{ client_name }}">
            {% endif %}
            <div class="media-body">
                <h5 class="mt-0">{{ client_name }}</h5>
                {% trans "This application wants to access the following information:" %}
            </div>
        </div>

        <div class="accordion mb-3" id="accordionScopes">
            {% for scope in scopes %}
            {%- set scope_label = 'label-' ~ scope -%}
            {%- set scope_description = 'desc-' ~ scope -%}
            <div class="card">
                <div class="card-header py-1 pl-0" id="heading-{{scope}}">
                    <h2 class="mb-0">
                        <button class="btn btn-block text-left collapsed py-0" type="button" data-toggle="collapse"
                            data-target="#collapse-{{scope}}" aria-expanded="false" aria-controls="collapse-{{scope}}">
                            <i class="bi" aria-hidden="true"></i> {{ scope_label | trans }}
                        </button>
                    </h2>
                </div>
                <div id="collapse-{{scope}}" class="collapse" aria-labelledby="heading-{{scope}}"
                    data-parent="#accordionScopes">
                    <div class="card-body">
                        {{ scope_description | trans }}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

        <p class="card-text"> 
            {% if client_policy_uri is not empty and client_tos_uri is not empty %}
                {% trans %}{{ client_name }} has provided a <a href="{{ client_policy_uri }}">policy</a> and <a href="{{ client_tos_uri }}" class="card-link">terms of use</a>.{% endtrans %}
            {% elseif client.policy_uri is not empty %}
                {% trans %}{{ client_name }} has provided a <a href="{{ client_policy_uri }}">policy</a>.{% endtrans %}
            {% elseif client.tos_uri is not empty %}
                {% trans %}{{ client_name }} has provided  <a href="{{ client_tos_uri }}" class="card-link">terms of use</a>.{% endtrans %}
            {% else %}
                <b>
                {% trans %}{{ client_name }} has not provided any policy nor terms of use.{% endtrans %}
                </b>
            {% endif %}
        </p>
        <form method="POST" class="my-login-validation" action="{{ action_url }}" novalidate="">
            <div class="form-check">
                <input class="form-check-input" type="radio" name="trust" id="trustonce" value="once" checked>
                <label class="form-check-label" for="trustonce">
                    {% trans "Trust this site this time only" %}
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="trust" id="trustalways" value="always">
                <label class="form-check-label" for="trustalways">
                    {% trans "Trust this site always" %}
                </label>
            </div>
            <div class="row mt-3">
                <div class="col">
                    <button type="submit" class="btn btn-outline-secondary btn-block" name="confirm" value="denied">
                        {% trans "Deny" %}
                    </button>
                </div>
                <div class="col">
                    <button type="submit" class="btn btn-primary btn-block" tabindex="1" name="confirm" value="confirmed" autofocus>
                        {% trans "Accept" %}
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}