{% extends 'master.twig' %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="brand">
    {% if client.policy_uri is not empty %}
    <img src="{{ client.logo_uri }}" alt="{{ client.client_name }}">
    {% else %}
    <img src="img/logo.jpg" alt="logo">
    {% endif %}
</div>
<div class="card fat">
    <div class="card-body">
        <h4 class="card-title">{{ client.client_name }} OP Login </h4>
        {% if error %}
        <div class="alert alert-danger" role="alert">
            Authentication error
        </div>
        {% endif %}

        <form method="POST" class="my-login-validation" action="{{ action_url }}" novalidate="">
            <div class="form-group">
                <label for="username">E-Mail Address</label>
                {% if display_name is not empty and user_id is not empty%}
                <input id="display_name" type="email" class="form-control" name="display_name" value="{{ display_name  }}" disabled>
                <input id="username" type="hidden" class="form-control" name="username" value="{{ user_id  }}">
                {% else %}
                <input id="username" type="input" class="form-control" name="username" value="{{ user_id  }}" required autofocus tabindex="1">
                {% endif %}
                <div class="invalid-feedback">
                    Email is invalid
                </div>
            </div>

            <div class="form-group">
                <label for="password">Password
                {% if site.enable_password_reset == true %}
                    <a href="{{ site.password_reset_url }}" class="float-right">
                        Forgot Password?
                    </a>
                {% endif %}
                </label>
                <input id="password" type="password" class="form-control" name="password" required data-eye tabindex="2">
                <div class="invalid-feedback">
                    Password is required
                </div>
            </div>

            <div class="form-group">
                <div class="custom-checkbox custom-control">
                    <input type="checkbox" name="persist" id="persist" class="custom-control-input" tabindex="3">
                    <label for="persist" class="custom-control-label">Remember Me</label>
                </div>
            </div>

            <div class="form-group m-0">
                <button id="login" type="submit" class="btn btn-primary btn-block" tabindex="4">
                    Login
                </button>
            </div>
            {% if site.enable_registration == true %}
            <div class="mt-4 text-center">
                Don't have an account?
            </div>
            <div class="text-center">
                <a class="btn btn-outline-primary btn-block mt-2" href="{{ site.registration_url }}">Create an account</a>
            </div>
            {% endif %}
        </form>
    </div>
    {% if client.policy_uri is not empty or client.tos_uri is not empty %}
    <div class="card-body">
        {% if client.policy_uri is not empty %}
        <a href="{{ client.policy_uri }}" class="card-link">Policy</a>
        {% endif %}
        {% if client.tos_uri is not empty %}
        <a href="{{ client.tos_uri }}" class="card-link">Terms of use</a>
        {% endif %}
    {% endif %}
    </div>
    
</div>
{% endblock %}